# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Локальная база данных и ее журналы (важно не заливать рабочую базу в публичный репо!)
crm_base.db
*.db-journal
*.db-wal
*.db-shm

# Системные файлы и редакторы
.DS_Store
.idea/
.vscode/
*.log