# Игнорировать базу данных
*.db
*.sqlite
*.sqlite3

# Игнорировать одноразовые скрипты
create_users.py
init_db.py
reset_admin.py
seed.py
seed_order.py
update_db.py
user_fix.py

# Игнорировать настройки IDE и временные файлы
.idea/
__pycache__/
.DS_Store
.venv/